extends ../layouts/default

block variables
	- const title = "О компании"

block content
	.main-body
		include ../../modules/header/_header

		main.content
			include ../../modules/p-about/_p-about

		include ../../modules/footer/_footer

block scripts
	script(src="./assets/js/vendors.js")
	script(src="./assets/js/main.js")