extends ../layouts/default

block variables
	- const title = "Монтажные подразделения"

block content
	.main-body
		include ../../modules/header/_header

		main.content
			include ../../modules/p-mounter/_p-mounter

		include ../../modules/footer/_footer

block scripts
	script(src="./assets/js/vendors.js")
	script(src="./assets/js/main.js")