extends ../layouts/default

block variables
	- const title = "Достижения"

block content
	.main-body
		include ../../modules/header/_header

		main.content
			include ../../modules/p-progress/_p-progress

		include ../../modules/footer/_footer

block scripts
	script(src="./assets/js/vendors.js")
	script(src="https://unpkg.com/swiper/js/swiper.min.js")
	script(src="./assets/js/main.js")