section.s-reviews
    .container
        h2.base-title Отзывы клиентов
        .s-reviews__row
            .s-reviews__swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .s-reviews__item
                            img.s-reviews__img(src="./assets/img/review-1.jpg" alt="")
                            .s-reviews__body
                                .s-reviews__text
                                    p.quote--blue “
                                    p Эту компанию посоветовали наши партнеры. В итоге мы остались очень довольны результатом работы! Ребята сделали капитальную замену конструкций в срок! Ремонт здания был очень сложный, но опытные специалисты компании VIGPOINT без труда справились с ним! Спасибо за работу!
                                .s-reviews__author Алексей Петров
                                .s-reviews__work Генеральный директор Mirax group
                    .swiper-slide
                        .s-reviews__item
                            img.s-reviews__img(src="./assets/img/review-1.jpg" alt="")
                            .s-reviews__body
                                .s-reviews__text
                                    p.quote--blue “
                                    p Эту компанию посоветовали наши партнеры. В итоге мы остались очень довольны результатом работы! Ребята сделали капитальную замену конструкций в срок! Ремонт здания был очень сложный, но опытные специалисты компании VIGPOINT без труда справились с ним! Спасибо за работу!
                                .s-reviews__author Алексей Петров
                                .s-reviews__work Генеральный директор Mirax group

                <div class="swiper-pagination"></div>
                .swiper-button-prev
                    <img src='assets/img/svg/slider-arrow-prev-gray.svg'>
                .swiper-button-next
                    <img src='assets/img/svg/slider-arrow-next-gray.svg'>