section.p-brands
    .container
        h2.base-title Профильные системы  
    .p-brands__item.p-brands__item--gray-bg
        .page-wrapper
            .p-brands__title
                img(src="./assets/img/brands/brand-1.png" alt="")
            .page-text
                p Алюминиевые профили Schuco, изготовленные из высококачественного сплава и снабжённые самой современной системой теплоизоляции, способны удовлетворять самым взыскательным требованиям и дают возможность исполнить любые архитектурно-планировочные решения.

                p Наша компания изготавливает качественную продукцию - окна из алюминия на основе немецкого профиля Schuco. Алюминиевые окна Шуко из импортного металлопрофиля высококонкурентны, это качественный современный продукт, предназначенный для долгосрочного использования в различных климатических условиях.

                p За время работы компанией были налажены прямые партнерские отношения с ведущим производителем алюминиевых профильных систем в Восточной Европе «АЛЮТЕХ», а также с ведущими поставщиками инновационных ограждающих, оконных, дверных и фасадных конструкций Schuеco и Jansen (Германия).

                p Алюминиевые профили Schuco, изготовленные из высококачественного сплава и снабжённые самой современной системой теплоизоляции, способны удовлетворять самым взыскательным требованиям и дают возможность исполнить любые архитектурно-планировочные решения.
            .page-slider.owl-carousel.owl-theme
                .base-slider__item
                    img(src="./assets/img/profiles/schuco-1.jpg" alt="")
                .base-slider__item
                    img(src="./assets/img/profiles/schuco-2.jpg" alt="")
                .base-slider__item
                    img(src="./assets/img/profiles/schuco-3.jpg" alt="")
                .base-slider__item
                    img(src="./assets/img/profiles/schuco-1.jpg" alt="")
                .base-slider__item
                    img(src="./assets/img/profiles/schuco-2.jpg" alt="")
                .base-slider__item
                    img(src="./assets/img/profiles/schuco-3.jpg" alt="")

    .p-brands__item
        .page-wrapper
            .p-brands__title
                img(src="./assets/img/brands/brand-2.png" alt="")
            .page-text
                p Компания ООО "ВИГ-ПОИНТ", основанная в 2006 году, успешно работает на строительном сегменте рынка. В настоящее время основным направлением деятельности компании является проектирование, изготовление и монтаж стальных противопожарных систем.

                p В распоряжении компании имеется своя производственная база, оборудованная современными станками лидеров европейских брэндов производителей, таких как «Elumatec GmbH &amp; Co. KG» и «Ozcelik Aluminium PVC Processing Machinery», что позволяет изготавливать для Вас эксклюзивные конструкции, ограниченные только Вашей фантазией.

                p В комплекс оказываемых услуг входит предпродажное проектирование, изготовление по размерам клиента, доставка автомобильным транспортом, полная комплектация согласно спецификации заказчика и поставка продукции непосредственно на строительную площадку точно в срок.

                p За время работы компанией были налажены прямые партнерские отношения с ведущим производителем алюминиевых профильных систем в Восточной Европе «АЛЮТЕХ», а также с ведущими поставщиками инновационных ограждающих, оконных, дверных и фасадных конструкций Schuеco и Jansen (Германия).

            .page-slider.owl-carousel.owl-theme
                .base-slider__item
                    img(src="./assets/img/profiles/sial-1.jpg" alt="")
                .base-slider__item
                    img(src="./assets/img/profiles/sial-2.jpg" alt="")
                .base-slider__item
                    img(src="./assets/img/profiles/sial-3.jpg" alt="")
                .base-slider__item
                    img(src="./assets/img/profiles/sial-1.jpg" alt="")
                .base-slider__item
                    img(src="./assets/img/profiles/sial-2.jpg" alt="")
                .base-slider__item
                    img(src="./assets/img/profiles/sial-3.jpg" alt="")

    .p-brands__item.p-brands__item--gray-bg
        .page-wrapper
            .p-brands__title
                img(src="./assets/img/brands/brand-3.png" alt="")
            .page-text
                p Стальные системы Jansen. С объединением в 1999 году компаний SCHUECO International KG и Jansen GmbH на швейцарском и германском рынках появился индустриальный гигант, предлагающий весь спектр систем.

                p Сталь - надежный и устойчивый к механическим воздействиям материал. Поэтому профильные системы Jansen часто используются в общественных зданиях. Среди материалов, широко используемых в строительстве, сталь обладает самым высоким модулем упругости - ок. 210 кН/мм2.

                p Особые преимущества материала позволяют применять профили в огнестойких и взломоустойчивых конструкциях и для улучшения звукоизоляции. Спектр продукции включает в себя также теплоизолированные системы и профили из нержавеющей стали. Из систем трубчатых стальных профилей Jansen изготавливаются двери, ворота, окна и фасады.

                p Сталь - надежный и устойчивый к механическим воздействиям материал. Поэтому профильные системы Jansen часто используются в общественных зданиях. Среди материалов, широко используемых в строительстве, сталь обладает самым высоким модулем упругости - ок. 210 кН/мм2.


            .page-slider.owl-carousel.owl-theme
                .base-slider__item
                    img(src="./assets/img/profiles/jansen-1.jpg" alt="")
                .base-slider__item
                    img(src="./assets/img/profiles/jansen-2.jpg" alt="")
                .base-slider__item
                    img(src="./assets/img/profiles/jansen-3.jpg" alt="")
                .base-slider__item
                    img(src="./assets/img/profiles/jansen-1.jpg" alt="")
                .base-slider__item
                    img(src="./assets/img/profiles/jansen-2.jpg" alt="")
                .base-slider__item
                    img(src="./assets/img/profiles/jansen-3.jpg" alt="")

    .p-brands__item
        .page-wrapper
            .p-brands__title
                img(src="./assets/img/brands/brand-4.png" alt="")
            .page-text
                p Алюминиевые профильные системы ALUTECH - это продукт белорусского производителя, который сочетает в себе европейское качество и доступность для широкого потребителя.

                p Профили ALUTECH позволяют создавать неограниченное количество технических решений для остекления современного города - окна, двери, входные группы, витражи, фасады, раздвижные системы, интерьерные решения - кажется, производитель предусмотрел все, что необходимо архитекторам и строителям при создании светопрозрачных конструкций!

                p Система ALTW62 представляет собой термоизолированную серию профилей с монтажной глубиной 62 мм, предназначенную для изготовления оконных, дверных и витражных конструкций различной конфигурации и степени сложности, которые должны соответствовать повышенным теплотехническим и звукоизоляционным требованиям.

                p Конструкции алюминиевой системы ALT C48 предназначены для установки во внутренние и наружные проемы стен зданий. Система позволяет изготавливать конструкции наружных и внутренних дверей, раздвижных автоматических дверей, входных групп, тамбуров, витрин и внутренних перегородок в любых административных и общественных зданиях и помещениях.

            .page-slider.owl-carousel.owl-theme
                .base-slider__item
                    img(src="./assets/img/profiles/alutech-1.jpg" alt="")
                .base-slider__item
                    img(src="./assets/img/profiles/alutech-2.jpg" alt="")
                .base-slider__item
                    img(src="./assets/img/profiles/alutech-3.jpg" alt="")
                .base-slider__item
                    img(src="./assets/img/profiles/alutech-1.jpg" alt="")
                .base-slider__item
                    img(src="./assets/img/profiles/alutech-2.jpg" alt="")
                .base-slider__item
                    img(src="./assets/img/profiles/alutech-3.jpg" alt="")

    .p-brands__item.p-brands__item--gray-bg
        .page-wrapper
            .p-brands__title
                img(src="./assets/img/brands/brand-5.png" alt="")
            .page-text
                p Система алюминиевых профилей «РЕАЛИТ» позволяет создавать современные светопрозрачные конструкции для внешней архитектуры зданий и внутреннего интерьера помещений, отличающиеся надежностью и долговечностью. К системе «РЕАЛИТ» относятся фасадные и оконно-дверные серии, вентиляционные решетки, вентилируемые фасады, интерьерные перегородки и балконные ограждения.

                p Наружные системы теплозащиты являются одним из наиболее эффективных методов повышения теплотехнических характеристик ограждающих стен зданий и сооружений. Они снижают затраты на стеновые материалы, облегчают вес многоэтажных зданий и увеличивают энергосберегающие характеристики внешних стен зданий, так как включают эффективные теплоизоляционные материалы и технологические решения.

                p В комплекс оказываемых услуг входит предпродажное проектирование, изготовление по размерам клиента, доставка автомобильным транспортом, полная комплектация согласно спецификации заказчика и поставка продукции непосредственно на строительную площадку точно в срок.
            .page-slider.owl-carousel.owl-theme
                .base-slider__item
                    img(src="./assets/img/profiles/realit-1.jpg" alt="")
                .base-slider__item
                    img(src="./assets/img/profiles/realit-2.jpg" alt="")
                .base-slider__item
                    img(src="./assets/img/profiles/realit-3.jpg" alt="")
                .base-slider__item
                    img(src="./assets/img/profiles/realit-1.jpg" alt="")
                .base-slider__item
                    img(src="./assets/img/profiles/realit-2.jpg" alt="")
                .base-slider__item
                    img(src="./assets/img/profiles/realit-3.jpg" alt="")


