section.s-clients
    .container
        .s-clients__wrapper
            h2.base-title.s-clients__title Наши клиенты
            .s-clients__row.owl-carousel.owl-theme.owl-carousel__s-clients
                .s-clients__item
                    img(src="./assets/img/brands/client-brand-1.png" alt="")
                .s-clients__item
                    img(src="./assets/img/brands/client-brand-2.png" alt="")
                .s-clients__item
                    img(src="./assets/img/brands/client-brand-3.png" alt="")
                .s-clients__item
                    img(src="./assets/img/brands/client-brand-2.png" alt="")
