section.s-portfolio
    .container
        h2.base-title.s-portfolio__title Наши работы

        .s-portfolio__card-row
            .portfolio-card
                figure.portfolio-card__img
                    img(src="./assets/img/portfolio/item-1.jpg" alt="")
                    figcaption Окна
                .portfolio-card__descr
                    .portfolio-card__title Окна
                    .portfolio-card__text Окна, выполненные из алюминиевого профиля — это актуальное направление современного дизайна и перспективный продукт
                    a.portfolio-card__link(href="") Подробнее
            .portfolio-card
                figure.portfolio-card__img
                    img(src="./assets/img/portfolio/item-2.jpg" alt="")
                    figcaption Балконы
                .portfolio-card__descr
                    .portfolio-card__title Балконы
                    .portfolio-card__text Окна, выполненные из алюминиевого профиля — это актуальное направление современного дизайна и перспективный продукт
                    a.portfolio-card__link(href="") Подробнее
            .portfolio-card
                figure.portfolio-card__img
                    img(src="./assets/img/portfolio/item-3.jpg" alt="")
                    figcaption Двери, входная группа
                .portfolio-card__descr
                    .portfolio-card__title Двери, входная группа
                    .portfolio-card__text Окна, выполненные из алюминиевого профиля — это актуальное направление современного дизайна и перспективный продукт
                    a.portfolio-card__link(href="") Подробнее
            .portfolio-card
                figure.portfolio-card__img
                    img(src="./assets/img/portfolio/item-4.jpg" alt="")
                    figcaption Раздвижные двери
                .portfolio-card__descr
                    .portfolio-card__title Раздвижные двери
                    .portfolio-card__text Окна, выполненные из алюминиевого профиля — это актуальное направление современного дизайна и перспективный продукт
                    a.portfolio-card__link(href="") Подробнее
            .portfolio-card
                figure.portfolio-card__img
                    img(src="./assets/img/portfolio/item-5.jpg" alt="")
                    figcaption Зимние сады
                .portfolio-card__descr
                    .portfolio-card__title Зимние сады
                    .portfolio-card__text Окна, выполненные из алюминиевого профиля — это актуальное направление современного дизайна и перспективный продукт
                    a.portfolio-card__link(href="") Подробнее
            .portfolio-card
                figure.portfolio-card__img
                    img(src="./assets/img/portfolio/item-6.jpg" alt="")
                    figcaption Террасы, веранды, беседки
                .portfolio-card__descr
                    .portfolio-card__title Террасы, веранды, беседки
                    .portfolio-card__text Окна, выполненные из алюминиевого профиля — это актуальное направление современного дизайна и перспективный продукт
                    a.portfolio-card__link(href="") Подробнее
            .portfolio-card
                figure.portfolio-card__img
                    img(src="./assets/img/portfolio/item-7.jpg" alt="")
                    figcaption Фасадное остекление, витражи
                .portfolio-card__descr
                    .portfolio-card__title Фасадное остекление, витражи
                    .portfolio-card__text Окна, выполненные из алюминиевого профиля — это актуальное направление современного дизайна и перспективный продукт
                    a.portfolio-card__link(href="") Подробнее
            .portfolio-card
                figure.portfolio-card__img
                    img(src="./assets/img/portfolio/item-8.jpg" alt="")
                    figcaption Зенитные фонари, купола
                .portfolio-card__descr
                    .portfolio-card__title Зенитные фонари, купола
                    .portfolio-card__text Окна, выполненные из алюминиевого профиля — это актуальное направление современного дизайна и перспективный продукт
                    a.portfolio-card__link(href="") Подробнее
            .portfolio-card
                figure.portfolio-card__img
                    img(src="./assets/img/portfolio/item-9.jpg" alt="")
                    figcaption Офисные перегородки
                .portfolio-card__descr
                    .portfolio-card__title Офисные перегородки
                    .portfolio-card__text Окна, выполненные из алюминиевого профиля — это актуальное направление современного дизайна и перспективный продукт
                    a.portfolio-card__link(href="") Подробнее