section.p-about
    .container
        .bread-crumbs
            ul.bread-crumbs__list
                li.bread-crumbs__item
                    a.bread-crumbs__link(href='./index.html') Главная
                li.bread-crumbs__item / 
                li.bread-crumbs__item О компании

        h1.base-title О компании
        .p-about__row
            .p-about__col-6
                img.p-about__img(src="./assets/img/about-img.jpg" alt="")
            .p-about__col-6
                .page-text
                    p Компания ООО "ВИГ-ПОИНТ", основанная в 2006 году, успешно работает на строительном сегменте рынка. В настоящее время основным направлением деятельности компании является проектирование, изготовление и монтаж стальных противопожарных систем.

                    p В распоряжении компании имеется своя производственная база, оборудованная современными станками лидеров европейских брэндов производителей, таких как «Elumatec GmbH &amp; Co. KG» и «Ozcelik Aluminium PVC Processing Machinery», что позволяет изготавливать для Вас эксклюзивные конструкции, ограниченные только Вашей фантазией.

                    p В комплекс оказываемых услуг входит предпродажное проектирование, изготовление по размерам клиента, доставка автомобильным транспортом, полная комплектация согласно спецификации заказчика и поставка продукции непосредственно на строительную площадку точно в срок.

                    p За время работы компанией были налажены прямые партнерские отношения с ведущим производителем алюминиевых профильных систем в Восточной Европе «АЛЮТЕХ», а также с ведущими поставщиками инновационных ограждающих, оконных, дверных и фасадных конструкций Schuеco и Jansen (Германия).

                .p-about__btn-body
                    p Скачать PDF файл с ценами
                    .p-about__btn-inner
                        a.base-button.p-about__button(href="#" download) Скачать

    .p-about__services.services-about
        .container
            .services-about__content
                h3.services-about__title Стальные системы
                .p-about__row
                    .p-about__col-6
                        h4.services-about__small-title Преимуществами стальных систем являются:
                        ul.base-list
                            li.base-list__item Разнообразие дизайна;
                            li.base-list__item Габариты конструкций;
                            li.base-list__item Срок службы;
                            li.base-list__item Защита (пулестойкость, огнестойкость);
                            li.base-list__item Эстетика;
                            li.base-list__item Прочность;
                    .p-about__col-6
                        h4.services-about__small-title По качественным показателям стальные конструкции делятся на:
                        ul.base-list
                            li.base-list__item Неизолированная (холодная) профильная система из стали.<span> Производимые изделия: прозрачные (стеклянные) двери офисов, входные группы, распашные (маятниковые) двери раздвижные двери, светопрозрачные перегородки для разделения пространства внутри здания, будки для охраны, будки безопасности.</span>
                            li.base-list__item Термоизолированная (теплая) профильная система из стали.<span> Производимые изделия - наружные двери (входные стеклянные двери), входные группы офисных центров, входные группы коттеджей, входных группы жилых домов, распашные (маятниковые) двери, раздвижные двери, стеклянные (светопрозрачные) витрины для магазинов, стеклянные витрины для домов и квартир.</span>
                .p-about__row
                    .p-about__col-3
                        .p-about__gallery
                            img(src='./assets/img/about/about-item-1.jpg' alt='')
                            p Schuеco (Германия)
                    .p-about__col-3
                        .p-about__gallery
                            img(src='./assets/img/about/about-item-2.jpg' alt='')
                            p RightProf (Россия)
                    .p-about__col-3
                        .p-about__gallery
                            img(src='./assets/img/about/about-item-3.jpg' alt='')
                            p Jansen (Германия)

            .services-about__content
                h3.services-about__title Алюминиевые витражи, окна, двери
                p.services-about__descr Применение алюминиевых рам целесообразно при изготовлении окон больших размеров, витражей, а также при остеклении алюминием балконов.
                .p-about__row
                    .p-about__col-6
                        h4.services-about__small-title Преимуществами алюминиевых конструкций являются:
                        ul.base-list
                            li.base-list__item Практически неограниченная долговечность;
                            li.base-list__item Высокая прочность, при низком удельном весе;
                            li.base-list__item Устойчивость к коррозии, деформации и другим вредным воздействиям окружающей среды;
                            li.base-list__item Отсутствие особого ухода;
                            li.base-list__item Алюминий отличается особыми конструктивными возможностями, что позволяет изготавливать окна различной сложности, осуществлять любые проектные решения, создающие фирменный стиль предприятия;
                            li.base-list__item Алюминиевые профили нового поколения обеспечивают высокие звукоизоляционные и теплосберегающие свойства окон и дверей;
                            li.base-list__item Алюминиевые окна пожаробезопасны, не подвержены горению. Алюминий находит широчайшее применение в различных сферах, в том числе в строительстве
                    .p-about__col-6
                        h4.services-about__small-title По качественным показателям алюминиевые конструкции делятся:
                        ul.base-list
                            li.base-list__item Холодный алюминиевый профиль<span> (используется для остекления лоджий и балконов, нежилых помещений, например, входных групп)</span>
                            li.base-list__item Теплый алюминиевый профиль<span> (отличительная особенность: наличие термомоста, позволяющего использовать алюминиевые конструкции для жилых помещений: окна, балконные блоки, двери, зимние сады и прочие алюминиевые конструкции)</span>
                .p-about__row
                    .p-about__col-3
                        .p-about__gallery
                            img(src='./assets/img/about/about-item-4.jpg' alt='')
                            p Schuеco (Германия)
                    .p-about__col-3
                        .p-about__gallery
                            img(src='./assets/img/about/about-item-5.jpg' alt='')
                            p RightProf (Россия)
                    .p-about__col-3
                        .p-about__gallery
                            img(src='./assets/img/about/about-item-6.jpg' alt='')
                            p Jansen (Германия)

            .services-about__content
                h3.services-about__title Противопожарные системы
                p.services-about__descr Противопожарные двери из алюминия и стали – один из важнейших элементов в системе противопожарной защиты. Надежные огнестойкие противопожарные двери позволяют локализовать очаг пожара, предотвратить его распространение и защитить людей при эвакуации.
                .p-about__row
                    .p-about__col-3
                        .p-about__gallery
                            img(src='./assets/img/about/about-item-7.jpg' alt='')
                            p Стальные EI60 (60 минут) - Schuеco (Германия)
                    .p-about__col-3
                        .p-about__gallery
                            img(src='./assets/img/about/about-item-8.jpg' alt='')
                            p Стальные EI30 (30 минут) – Schuеco (Германия)
                    .p-about__col-3
                        .p-about__gallery
                            img(src='./assets/img/about/about-item-9.jpg' alt='')
                            p Стальные EI30 (30 минут) – Schuеco (Германия)

            .services-about__content
                h3.services-about__title Бронированные системы
                p.services-about__descr В гражданском строительстве часты случаи, когда наряду с взломоустойчивыми конструкциями требуется возведение пуленепробиваемых систем. Например, при строительстве банка, офиса страховой организации, почты, административного здания или предприятия розничной торговли. Мы предлагаем системы с идеально согласованными компонентами от немецких производителей Schueco и Jansen.
                h4.services-about__small-title.centered(style='max-width: 500px; margin-left: auto; margin-right: auto;') Особенности бронированных систем:
                ul.base-list.centered
                    li.base-list__item Бронированные наружные стенки профиля из специального алюминиевого сплава;
                    li.base-list__item Взломоустойчивая фурнитура;
                    li.base-list__item Системы Schueco соответствуют действующим нормам, относящимся к пуленепробиваемым окнам, дверям и фасадам, что подтверждается соответствующими сертификатами;
                    li.base-list__item Многообразие цветовой палитры и оформления
                    li.base-list__item Высокая системная надежность;
                .p-about__row
                    .p-about__col-3
                        .p-about__gallery
                            img(src='./assets/img/about/about-item-10.jpg' alt='')
                            p Schuеco (Германия)
                    .p-about__col-3
                        .p-about__gallery
                            img(src='./assets/img/about/about-item-11.jpg' alt='')
                            p RightProf (Россия)
                    .p-about__col-3
                        .p-about__gallery
                            img(src='./assets/img/about/about-item-12.jpg' alt='')
                            p Jansen (Германия)
