section.s-mounter
    .container
        h2.base-title Монтажные работы
        .s-mounter__row
            .s-mounter__col
                .slider
                    .slider-for
                        .slider__item
                            img(src="./assets/img/slider-img/slider-img-1.jpg" alt="")
                        .slider__item
                            img(src="./assets/img/slider-img/slider-img-2.jpg" alt="")
                        .slider__item
                            img(src="./assets/img/slider-img/slider-img-3.jpg" alt="")
                        .slider__item
                            img(src="./assets/img/slider-img/slider-img-4.jpg" alt="")
                    .slider-nav
                        .slider__item
                            img(src="./assets/img/slider-img/slider-img-1.jpg" alt="")
                        .slider__item
                            img(src="./assets/img/slider-img/slider-img-2.jpg" alt="")
                        .slider__item
                            img(src="./assets/img/slider-img/slider-img-3.jpg" alt="")
                        .slider__item
                            img(src="./assets/img/slider-img/slider-img-4.jpg" alt="")

            .s-mounter__col
                .s-mounter__text
                    p Монтаж от компании ООО «VIGPOINT» - это профессиональный подход, опытные монтажники и качественные материалы. На все работы предоставляется гарантийное и послегарантийное обслуживание.

                    p Любой монтаж алюбминиевых конструкций начинается с проектного решения направленного на правильный подбор оборудования и экономию средств т.к. при отсутствии специальных расчетов могут быть допущены ошибки при производстве монтажных работ и отрицательно скажется на качестве ее работы в целом.

                    p Наши специалисты, имеющие многолетний опыт работы произведут все необходимые расчеты и замеры исходя из ваших потребностей и пожеланий. При проведении работ мы обеспечиваем качество выполняемых работ.
                .s-mounter__list
                    h3.s-mounter__small-title Монтажные работы нашей компании это:
                    ul.base-list
                        li.base-list__item Свое монтажное подразделение
                        li.base-list__item Демонтаж старых конструкций перед установкой новых
                        li.base-list__item Вывоз мусора после завершения всех работ
                        li.base-list__item Гарантия на работы 24 месяца