.s-mounter {
    padding: 120px 0;

    @include md-block {
        padding: 50px 0;
    }

    &__row {
        @include row-flex();
    }

    &__col {
        @include col();
        @include size(6);
        @include size-md(12);
    }

    &__text {
        font-size: 18px;
        line-height: 21px;

        text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        color: #1b1716;

        @include md-block {
            margin-top: 30px;;
        }

        & > p {
            margin-bottom: 20px;
        }
    }

    &__small-title {
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;

        text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        color: #1b1716;
    }

    .swiper-container--main {
        margin-bottom: 20px;

        .swiper-button-prev,
        .swiper-button-next {
            top: auto;
            bottom: 0;
            width: 70px;
            height: 43px;
            background-color: #0756bb;

            @include md-block() {
                display: flex;
            }
        }
    }

    .swiper-container--thumbs {

        .swiper-slide {
            opacity: 0.5;
            transition: all 0.15s linear;
        }

        .swiper-slide-thumb-active {
            opacity: 1;
        }
    }

    .swiper-container--thumbs {
        cursor: pointer;
    }
}
