section.s-contacts
    .container
        h2.base-title Как к нам добраться
        .s-contacts__body
            .s-contacts__text
                .address
                    p Офис:
                    | Москва, Полесский проезд 16, офис 203
                    <br>
                    <br>
                    <br>
                    p Производство:
                    | Большие Веземы, улица Ямская, городок 17, владение 9
                a.tel(href="tel:+74995570474") +7 (499) 557-04-74
                a.mail(href="mailto:Feedback@vigpoint.com") Feedback@vigpoint.com
            .s-contacts__map
                img(src="./assets/img/map.jpg" alt="")
