section.s-contacts
    .container
        h2.base-title Как к нам добраться
        .s-contacts__body
            .s-contacts__text
                .address
                    p Офис:
                    | Москва, Полесский проезд 16, офис 203
                    <br>
                    <br>
                    <br>
                    p Производство:
                    | Большие Веземы, улица Ямская, городок 17, владение 9
                a.tel(href="tel:+74995570474") +7 (499) 557-04-74
                a.mail(href="mailto:Feedback@vigpoint.com") Feedback@vigpoint.com
            .s-contacts__map
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Afc273f18da3a3278240fc9ccca1b62d474e68a1fb5b1a6f9c0027ef0c2b4ec4b&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>