section.s-brands
    .container
        h2.base-title.s-brands__title С какими профилями мы работаем
        .s-brands__row
            img.s-brands__img(src="./assets/img/brands/brand-1.png" alt="")
            img.s-brands__img(src="./assets/img/brands/brand-2.png" alt="")
            img.s-brands__img(src="./assets/img/brands/brand-3.png" alt="")
            img.s-brands__img(src="./assets/img/brands/brand-4.png" alt="")
            img.s-brands__img(src="./assets/img/brands/brand-5.png" alt="")