.p-production {
    padding-top: 50px;
    padding-bottom: 120px;

    @include md-block() {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    &__video {
        width: 100%;
        max-width: 970px;
        margin: 0 auto;

        margin-bottom: 45px;

        video {
            width: 100%;
            margin: 0 auto;
        }
    }

    &__row {
        position: relative;
    }

    &__swiper-container {
        overflow: hidden;

        @include md-block() {
            overflow: inherit;
        }
    }

    .swiper-button-prev {
        left: -100px;
    }

    .swiper-button-next {
        right: -100px;
    }
}

.page-wrapper {
    max-width: 970px;
    margin: 0 auto;
}
