section.p-production
    .container
        h2.base-title Производство
        .p-production__video
            video(src="http://clips.vorwaerts-gmbh.de/VfE_html5.mp4" controls)
        .page-wrapper
            .page-text
                p Компания ООО "ВИГ-ПОИНТ", основанная в 2006 году, успешно работает на строительном сегменте рынка. В настоящее время основным направлением деятельности компании является проектирование, изготовление и монтаж стальных противопожарных систем.

                p В распоряжении компании имеется своя производственная база, оборудованная современными станками лидеров европейских брэндов производителей, таких как «Elumatec GmbH &amp; Co. KG» и «Ozcelik Aluminium PVC Processing Machinery», что позволяет изготавливать для Вас эксклюзивные конструкции, ограниченные только Вашей фантазией.

                p В комплекс оказываемых услуг входит предпродажное проектирование, изготовление по размерам клиента, доставка автомобильным транспортом, полная комплектация согласно спецификации заказчика и поставка продукции непосредственно на строительную площадку точно в срок.

                p За время работы компанией были налажены прямые партнерские отношения с ведущим производителем алюминиевых профильных систем в Восточной Европе «АЛЮТЕХ», а также с ведущими поставщиками инновационных ограждающих, оконных, дверных и фасадных конструкций Schuеco и Jansen (Германия).

            .page-slider.owl-carousel.owl-theme
                .base-slider__item
                    img(src="./assets/img/production/production-item-1.jpg" alt="")
                .base-slider__item
                    img(src="./assets/img/production/production-item-2.jpg" alt="")
                .base-slider__item
                    img(src="./assets/img/production/production-item-3.jpg" alt="")
                .base-slider__item
                    img(src="./assets/img/production/production-item-1.jpg" alt="")
                .base-slider__item
                    img(src="./assets/img/production/production-item-2.jpg" alt="")
                .base-slider__item
                    img(src="./assets/img/production/production-item-3.jpg" alt="")


