extends views/layouts/default

block variables
	- const title = "Vigpoint"

block content
	.main-body
		include ./modules/header/_header

		main.content
			include ./modules/s-advantages/_s-advantages
			include ./modules/s-portfolio/_s-portfolio
			include ./modules/s-working-way/_s-working-way
			include ./modules/s-brands/_s-brands
			include ./modules/s-mounter/_s-mounter
			include ./modules/s-clients/_s-clients
			include ./modules/s-partners/_s-partners
			include ./modules/s-video/_s-video
			include ./modules/s-objects/_s-objects
			include ./modules/s-reviews/_s-reviews

		include ./modules/footer/_footer

block scripts
	script(src="./assets/js/vendors.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js")
	script(src="./assets/js/main.js")