extends views/layouts/default

block variables
	- const title = "Vigpoint"

block content
	.main-body
		include ./modules/header/_header

		main.content
			include ./modules/s-advantages/_s-advantages
			include ./modules/s-portfolio/_s-portfolio

		include ./modules/footer/_footer

block scripts
	script(src="./assets/js/vendors.js")
	script(src="./assets/js/main.js")