.container
    section.p-404
        .p-404__title Ошибка 404
        .p-404__descr Кажется что-то пошло не так! Страница, которую вы запрашиваете, не существует. Возможно, она была удалена или вы ввели неверный адрес.
        a.base-button.p-404__button(href='index.html') Вернуться на главную