section.s-advantages
    .container

        .swiper-pagination
        .s-hero__swiper-navigation
            .s-hero__swiper-button-prev
                <svg width="12" height="20" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.881438 9.4233L10.2518 0.163517C10.4725 -0.0545057 10.8263 -0.0545056 11.0469 0.163517C11.2676 0.381539 11.2676 0.731198 11.0469 0.94922L2.07615 9.81409L11.0469 18.679C11.2676 18.897 11.2676 19.2466 11.0469 19.4647C10.9387 19.5716 10.793 19.6292 10.6515 19.6292C10.5099 19.6292 10.3642 19.5757 10.256 19.4647L0.8856 10.2049C0.664972 9.99098 0.664973 9.6372 0.881438 9.4233Z" fill="black"/>
                </svg>

            .s-hero__swiper-button-next
                <svg width="12" height="20" viewBox="0 0 12 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.011 10.3954L1.6518 19.7546C1.43143 19.975 1.07802 19.975 0.857655 19.7546C0.637292 19.5343 0.637292 19.1809 0.857655 18.9605L9.81772 10.0004L0.857655 1.04037C0.637292 0.820007 0.637292 0.466595 0.857655 0.246231C0.965758 0.138128 1.11128 0.0799198 1.25265 0.0799198C1.39401 0.0799198 1.53954 0.13397 1.64764 0.246231L11.0069 9.60545C11.2272 9.82165 11.2272 10.1792 11.011 10.3954Z" fill="black"/>
                </svg>


        h2.base-title.s-advantages__title Наши преимущества
        .s-advantages__card-row
            .base-card
                img.base-card__icon(src="./assets/img/svg/card-icon/icon-1.svg" alt="")
                h3.base-card__title Собственное производство
                p.base-card__descr Мы можем предложить вам самые выгодные цены на производимую продукцию
            .base-card
                img.base-card__icon(src="./assets/img/svg/card-icon/icon-2.svg" alt="")
                h3.base-card__title Работа под ключ
                p.base-card__descr Сами выполняем все фазы работ от и до. От вас нужен только договор
            .base-card
                img.base-card__icon(src="./assets/img/svg/card-icon/icon-3.svg" alt="")
                h3.base-card__title Гарантия от 15 лет на конструкцию
                p.base-card__descr Срок службы наших металлоконстукций свыше 15 лет
            .base-card
                img.base-card__icon(src="./assets/img/svg/card-icon/icon-4.svg" alt="")
                h3.base-card__title Собственное конструкторское бюро
                p.base-card__descr Имеем собственное КБ для реализации ваших самых смелых пожеланий

            .base-card
                img.base-card__icon(src="./assets/img/svg/card-icon/icon-5.svg" alt="")
                h3.base-card__title Опыт мастеров более 10 лет
                p.base-card__descr У нас работают только лучшие специалисты с большим опытом работы
            .base-card
                img.base-card__icon(src="./assets/img/svg/card-icon/icon-6.svg" alt="")
                h3.base-card__title Собственное монтажное подразделение
                p.base-card__descr Никаких сторонних организаций. Как результат - гарантия качества
            .base-card
                img.base-card__icon(src="./assets/img/svg/card-icon/icon-7.svg" alt="")
                h3.base-card__title Более 500 выполненных проектов с отличной рекомендацией
                p.base-card__descr За многие годы у нас накопилась обширная база успешно выполненных работ
            .base-card
                img.base-card__icon(src="./assets/img/svg/card-icon/icon-8.svg" alt="")
                h3.base-card__title Выполняем заранее оговоренного срока по договору
                p.base-card__descr Не выполним в срок - вернем 30% договора
