section.s-advantages
    .container
        h2.base-title.s-advantages__title Наши преимущества
        .s-advantages__card-row
            .base-card
                img.base-card__icon(src="./assets/img/svg/card-icon/icon-1.svg" alt="")
                h3.base-card__title Собственное производство
                p.base-card__descr Мы можем предложить вам самые выгодные цены на производимую продукцию
            .base-card
                img.base-card__icon(src="./assets/img/svg/card-icon/icon-2.svg" alt="")
                h3.base-card__title Работа под ключ
                p.base-card__descr Сами выполняем все фазы работ от и до. От вас нужен только договор
            .base-card
                img.base-card__icon(src="./assets/img/svg/card-icon/icon-3.svg" alt="")
                h3.base-card__title Гарантия от 15 лет на конструкцию
                p.base-card__descr Срок службы наших металлоконстукций свыше 15 лет
            .base-card
                img.base-card__icon(src="./assets/img/svg/card-icon/icon-4.svg" alt="")
                h3.base-card__title Собственное конструкторское бюро
                p.base-card__descr Имеем собственное КБ для реализации ваших самых смелых пожеланий
        
            .base-card
                img.base-card__icon(src="./assets/img/svg/card-icon/icon-5.svg" alt="")
                h3.base-card__title Опыт мастеров более 10 лет
                p.base-card__descr У нас работают только лучшие специалисты с большим опытом работы
            .base-card
                img.base-card__icon(src="./assets/img/svg/card-icon/icon-6.svg" alt="")
                h3.base-card__title Собственное монтажное подразделение
                p.base-card__descr Никаких сторонних организаций. Как результат - гарантия качества
            .base-card
                img.base-card__icon(src="./assets/img/svg/card-icon/icon-7.svg" alt="")
                h3.base-card__title Более 500 выполненных проектов с отличной рекомендацией
                p.base-card__descr За многие годы у нас накопилась обширная база успешно выполненных работ
            .base-card
                img.base-card__icon(src="./assets/img/svg/card-icon/icon-8.svg" alt="")
                h3.base-card__title Выполняем заранее оговоренного срока по договору
                p.base-card__descr Не выполним в срок - вернем 30% договора
