.s-advantages {
    padding: 120px 0 90px 0;

    @include md-block() {
        padding: 50px 0;
    }

    &__title {
        margin-bottom: 60px;
    }

    &__card-row {
        @include row-flex();
    }
}

.base-card {
    @include col();
    @include size(3);
    @include size-xl(4);
    @include size-md(6);
    @include size-sm(12);

    display: flex;
    flex-direction: column;

    height: 270px;

    margin-bottom: 30px;
    padding: 22px 28px;
    text-align: center;
    border-bottom: 8px solid #2a2554;
    border-radius: 2px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    &__icon {
        width: 42px;
        margin-right: auto;
        margin-bottom: 15px;
        margin-left: auto;
        padding-bottom: 10px;

        border-bottom: 2px solid #0756bb;
    }

    &__title {
        flex: 1 1 auto;
        font-weight: 600;
        font-size: 18px;
        text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        color: #1b1716;
    }

    &__descr {
        font-weight: 500;

        text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    }
}
