// VARIABLES

// Modular grid
$base-module: 8px;
$base-line-height: 21px;

// Fonts
$base-font-size: 16px;
$base-font-weight: 400;

// Colors
$base-text-color: #333333;


// Borders


// Effects
$link-underline-opacity: 0.5;
$base-transition: 0.2s ease-in-out;