/* GENERAL */

.main-body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

.content {
    flex: 1 1 auto;
}

.container {
    @include container();
}

.logo {
    &__img {
        width: inherit;
    }
}

.base-button {
    display: block;
    padding: 12px 18px;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;

    background-color: #0756bb;
    border: 1px solid #0756bb;
    border-radius: 2px;

    transition: $base-transition;
    cursor: pointer;

    &:hover {
        color: #0756bb;
        background-color: #ffffff;
    }
}

.base-list {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    color: #1b1716;

    &__item {
        position: relative;
        margin-bottom: 13px;
        padding-left: 30px;

        &:last-child {
            margin-bottom: 0;
        }

        &::before {
            content: "";
            position: absolute;
            top: 4px;
            left: 0;

            width: 15px;
            height: 15px;

            background-color: #0756bb;
        }
    }
}

.slider {
    &-for {
        // width: 570px;
        height: 360px;
        margin-bottom: 40px;
    }

    &__item {
        img {
            object-fit: cover;
            width: 100%;
        }
    }

    &-nav {
        .slider__item {
            cursor: pointer;

            img {
                max-width: 180px;
                height: 144px;
            }
        }
    }
}

.owl-theme .owl-nav [class*="owl-"]:hover {
    background: none;
}

.owl-theme .owl-nav {
    .owl-prev{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    .owl-next{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
    
}
