/* GENERAL */

.main-body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

.content {
    flex: 1 1 auto;
}

.container {
    @include container();
}

.logo {
    &__img {
        width: inherit;
    }
}

.base-button {
    display: block;
    padding: 12px 18px;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;

    background-color: #0756bb;
    border: 1px solid #0756bb;
    border-radius: 2px;

    transition: $base-transition;
    cursor: pointer;

    &:hover {
        color: #0756bb;
        background-color: #ffffff;
    }
}
