/* TYPOGRAPHY */

body {
    font-family: "Gilroy";
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    line-height: $base-line-height;
    color: $base-text-color;
}

a {
    color: #333333;
    transition: $base-transition;

    &:hover {
        color: #0756bb;
    }
}

.base-title {
    position: relative;
    margin-bottom: 60px;
    padding-bottom: 15px;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    text-align: center;

    color: #1b1716;

    &::after {
        content: "";
        position: absolute;
        right: 50%;
        bottom: 0;
        width: 170px;
        height: 5px;
        background: rgb(7, 86, 187);
        background: linear-gradient(90deg, #05387a 0%, #0756bb 100%);

        transform: translateX(50%);
    }
}
