footer.footer
    .container
        .footer__top
            a.logo.footer__logo(href="#")
                img.logo__img(src="./assets/img/logo-gray.png" alt="Vigpoint")
            nav.main-menu.footer__menu
                ul.main-menu__list
                    li.main-menu__item
                        a.main-menu__link(href="index.html") Главная
                    li.main-menu__item
                        a.main-menu__link(href="about.html") О компании
                    li.main-menu__item
                        a.main-menu__link(href="production.html") Производство
                    li.main-menu__item
                        a.main-menu__link(href="brands.html") Профильные системы
                    li.main-menu__item
                        a.main-menu__link(href="mounter.html") Монтажные подразделения
                    li.main-menu__item
                        a.main-menu__link(href="progress.html") Достижения
                    li.main-menu__item
                        a.main-menu__link(href="contacts.html") Контакты

        .footer__copy
            p.footer__text ООО “Vigpoint”. 2020. Все права защищены
            a.footer__text(href="") Политика конфиденциальности
            p.footer__text Разработка <a class='' href='#' target='_blank'>Студия ЯР</a>