footer.footer
    .container
        .footer__top
            a.logo.footer__logo(href="#")
                img.logo__img(src="./assets/img/logo-gray.png" alt="Vigpoint")
            nav.main-menu.footer__menu
                ul.main-menu__list
                    li.main-menu__item
                        a.main-menu__link(href="#") Главная
                    li.main-menu__item
                        a.main-menu__link(href="#") О компании
                    li.main-menu__item
                        a.main-menu__link(href="#") Производство
                    li.main-menu__item
                        a.main-menu__link(href="#") Профильные системы
                    li.main-menu__item
                        a.main-menu__link(href="#") Монтажные подразделения
                    li.main-menu__item
                        a.main-menu__link(href="#") Достижения
                    li.main-menu__item
                        a.main-menu__link(href="#") Контакты

        .footer__copy
            p.footer__text ООО “Vigpoint”. 2020. Все права защищены
            p.footer__text Политика конфиденциальности
            p.footer__text Разработка <a class='' href='#' target='_blank'>Студия ЯР</a>