section.p-progress
    .container
        h2.base-title Достижения

        .p-progress__row
            .p-progress__col
                .p-progress__item.item-progress
                    .item-progress__img
                        img(src="./assets/img/progress/progress-1.jpg" alt="")
                    .item-progress__text-inner
                        .item-progress__text.item-progress__text--first
                            p Объект: <span>Детский Мир, город Москва, улица Театральная, дом 5</span>
                        .item-progress__text
                            p Профиль: <span>Alutech W62</span>
            .p-progress__col
                .p-progress__item.item-progress
                    .item-progress__img
                        img(src="./assets/img/progress/progress-2.jpg" alt="")
                    .item-progress__text-inner
                        .item-progress__text.item-progress__text--first
                            p Объект: <span>Фирменные магазины, город Москва, Столешников переулок</span>
                        .item-progress__text
                            p Профиль: <span>Jansen крашенная, бронированный стеклопакет класс VK 4</span>

        .p-progress__row
            .p-progress__col
                .p-progress__item.item-progress
                    .item-progress__img
                        img(src="./assets/img/progress/progress-3.jpg" alt="")
                    .item-progress__text-inner
                        .item-progress__text.item-progress__text--first
                            p Объект: <span>«Садовые Кварталы», город Москва, Фрунзенская Набережная</span>
                        .item-progress__text
                            p Профиль: <span>Schueco Jansen, заполнение: 6зак-14Ar-4-14Ar-Pyr16</span>
            .p-progress__col
                .p-progress__item.item-progress
                    .item-progress__img
                        img(src="./assets/img/progress/progress-4.jpg" alt="")
                    .item-progress__text-inner
                        .item-progress__text.item-progress__text--first
                            p Объект: <span>ФОК МЧС, МО, посёлок Апаринки</span>
                        .item-progress__text
                            //- p Профиль: <span>Jansen крашенная, бронированный стеклопакет класс VK 4</span>

        .p-progress__row
            .p-progress__col
                .p-progress__item.item-progress
                    .item-progress__img
                        img(src="./assets/img/progress/progress-5.jpg" alt="")
                    .item-progress__text-inner
                        .item-progress__text.item-progress__text--first
                            p Объект: <span>Стальная дверь, город Москва, улица Кульнева</span>
                        .item-progress__text
                            p Профиль: <span>Дверь Schueco Jansen, заполнение: 6–16Ar–(4+4)ТопН+</span>
            .p-progress__col
                .p-progress__item.item-progress
                    .item-progress__img
                        img(src="./assets/img/progress/progress-6.jpg" alt="")
                    .item-progress__text-inner
                        .item-progress__text.item-progress__text--first
                            p Объект: <span>«Большевик»</span>
                        .item-progress__text
                            p Профиль: <span>Двери противопожарные Schueco Jansen, заполнение: Pyrobel 17N</span>

