section.p-progress
    .container
        h2.base-title Достижения
        .p-progress__row
            .p-progress__col
                .p-progress__item.item-progress
                    .p-progress__swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                .item-progress__img
                                    img(src="./assets/img/progress/progress-1.jpg" alt="")
                            .swiper-slide
                                .item-progress__img
                                    img(src="./assets/img/progress/progress-1.jpg" alt="")
                        // Navigation
                        .swiper-button-prev
                            <svg width="11" height="20" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.681372 9.52449L10.0406 0.165273C10.261 -0.055091 10.6144 -0.0550909 10.8347 0.165273C11.0551 0.385636 11.0551 0.73905 10.8347 0.959413L1.87466 9.91948L10.8347 18.8796C11.0551 19.0999 11.0551 19.4533 10.8347 19.6737C10.7266 19.7818 10.5811 19.84 10.4397 19.84C10.2984 19.84 10.1528 19.786 10.0447 19.6737L0.685528 10.3145C0.465164 10.0983 0.465166 9.7407 0.681372 9.52449Z" fill="white"/>
                            </svg>
                        .swiper-button-next
                            <svg width="11" height="20" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.3186 10.4755L0.959413 19.8347C0.739049 20.0551 0.385636 20.0551 0.165273 19.8347C-0.0550909 19.6144 -0.0550909 19.261 0.165273 19.0406L9.12534 10.0805L0.165273 1.12045C-0.0550909 0.900085 -0.0550909 0.546673 0.165273 0.326309C0.273376 0.218206 0.418899 0.159998 0.560264 0.159998C0.701629 0.159998 0.847153 0.214048 0.955256 0.326309L10.3145 9.68553C10.5348 9.90173 10.5348 10.2593 10.3186 10.4755Z" fill="white"/>
                            </svg>

                    .item-progress__text-inner
                        .item-progress__text.item-progress__text--first
                            p Объект: <span>Детский Мир, город Москва, улица Театральная, дом 5</span>
                        .item-progress__text
                            p Профиль: <span>Alutech W62</span>

            .p-progress__col
                .p-progress__item.item-progress
                    .p-progress__swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                .item-progress__img
                                    img(src="./assets/img/progress/progress-2.jpg" alt="")
                            .swiper-slide
                                .item-progress__img
                                    img(src="./assets/img/progress/progress-2.jpg" alt="")
                        // Navigation
                        .swiper-button-prev
                            <svg width="11" height="20" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.681372 9.52449L10.0406 0.165273C10.261 -0.055091 10.6144 -0.0550909 10.8347 0.165273C11.0551 0.385636 11.0551 0.73905 10.8347 0.959413L1.87466 9.91948L10.8347 18.8796C11.0551 19.0999 11.0551 19.4533 10.8347 19.6737C10.7266 19.7818 10.5811 19.84 10.4397 19.84C10.2984 19.84 10.1528 19.786 10.0447 19.6737L0.685528 10.3145C0.465164 10.0983 0.465166 9.7407 0.681372 9.52449Z" fill="white"/>
                            </svg>
                        .swiper-button-next
                            <svg width="11" height="20" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.3186 10.4755L0.959413 19.8347C0.739049 20.0551 0.385636 20.0551 0.165273 19.8347C-0.0550909 19.6144 -0.0550909 19.261 0.165273 19.0406L9.12534 10.0805L0.165273 1.12045C-0.0550909 0.900085 -0.0550909 0.546673 0.165273 0.326309C0.273376 0.218206 0.418899 0.159998 0.560264 0.159998C0.701629 0.159998 0.847153 0.214048 0.955256 0.326309L10.3145 9.68553C10.5348 9.90173 10.5348 10.2593 10.3186 10.4755Z" fill="white"/>
                            </svg>
                    .item-progress__text-inner
                        .item-progress__text.item-progress__text--first
                            p Объект: <span>Фирменные магазины, город Москва, Столешников переулок</span>
                        .item-progress__text
                            p Профиль: <span>Jansen крашенная, бронированный стеклопакет класс VK 4</span>

        .p-progress__row
            .p-progress__col
                .p-progress__item.item-progress
                    .p-progress__swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                .item-progress__img
                                    img(src="./assets/img/progress/progress-3.jpg" alt="")
                            .swiper-slide
                                .item-progress__img
                                    img(src="./assets/img/progress/progress-3.jpg" alt="")
                        // Navigation
                        .swiper-button-prev
                            <svg width="11" height="20" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.681372 9.52449L10.0406 0.165273C10.261 -0.055091 10.6144 -0.0550909 10.8347 0.165273C11.0551 0.385636 11.0551 0.73905 10.8347 0.959413L1.87466 9.91948L10.8347 18.8796C11.0551 19.0999 11.0551 19.4533 10.8347 19.6737C10.7266 19.7818 10.5811 19.84 10.4397 19.84C10.2984 19.84 10.1528 19.786 10.0447 19.6737L0.685528 10.3145C0.465164 10.0983 0.465166 9.7407 0.681372 9.52449Z" fill="white"/>
                            </svg>
                        .swiper-button-next
                            <svg width="11" height="20" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.3186 10.4755L0.959413 19.8347C0.739049 20.0551 0.385636 20.0551 0.165273 19.8347C-0.0550909 19.6144 -0.0550909 19.261 0.165273 19.0406L9.12534 10.0805L0.165273 1.12045C-0.0550909 0.900085 -0.0550909 0.546673 0.165273 0.326309C0.273376 0.218206 0.418899 0.159998 0.560264 0.159998C0.701629 0.159998 0.847153 0.214048 0.955256 0.326309L10.3145 9.68553C10.5348 9.90173 10.5348 10.2593 10.3186 10.4755Z" fill="white"/>
                            </svg>
                    .item-progress__text-inner
                        .item-progress__text.item-progress__text--first
                            p Объект: <span>«Садовые Кварталы», город Москва, Фрунзенская Набережная</span>
                        .item-progress__text
                            p Профиль: <span>Schueco Jansen, заполнение: 6зак-14Ar-4-14Ar-Pyr16</span>
            .p-progress__col
                .p-progress__item.item-progress
                    .p-progress__swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                .item-progress__img
                                    img(src="./assets/img/progress/progress-4.jpg" alt="")
                            .swiper-slide
                                .item-progress__img
                                    img(src="./assets/img/progress/progress-4.jpg" alt="")
                        // Navigation
                        .swiper-button-prev
                            <svg width="11" height="20" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.681372 9.52449L10.0406 0.165273C10.261 -0.055091 10.6144 -0.0550909 10.8347 0.165273C11.0551 0.385636 11.0551 0.73905 10.8347 0.959413L1.87466 9.91948L10.8347 18.8796C11.0551 19.0999 11.0551 19.4533 10.8347 19.6737C10.7266 19.7818 10.5811 19.84 10.4397 19.84C10.2984 19.84 10.1528 19.786 10.0447 19.6737L0.685528 10.3145C0.465164 10.0983 0.465166 9.7407 0.681372 9.52449Z" fill="white"/>
                            </svg>
                        .swiper-button-next
                            <svg width="11" height="20" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.3186 10.4755L0.959413 19.8347C0.739049 20.0551 0.385636 20.0551 0.165273 19.8347C-0.0550909 19.6144 -0.0550909 19.261 0.165273 19.0406L9.12534 10.0805L0.165273 1.12045C-0.0550909 0.900085 -0.0550909 0.546673 0.165273 0.326309C0.273376 0.218206 0.418899 0.159998 0.560264 0.159998C0.701629 0.159998 0.847153 0.214048 0.955256 0.326309L10.3145 9.68553C10.5348 9.90173 10.5348 10.2593 10.3186 10.4755Z" fill="white"/>
                            </svg>
                    .item-progress__text-inner
                        .item-progress__text.item-progress__text--first
                            p Объект: <span>ФОК МЧС, МО, посёлок Апаринки</span>
                        .item-progress__text
                            //- p Профиль: <span>Jansen крашенная, бронированный стеклопакет класс VK 4</span>

        .p-progress__row
            .p-progress__col
                .p-progress__item.item-progress
                    .p-progress__swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                .item-progress__img
                                    img(src="./assets/img/progress/progress-5.jpg" alt="")
                            .swiper-slide
                                .item-progress__img
                                    img(src="./assets/img/progress/progress-5.jpg" alt="")
                        // Navigation
                        .swiper-button-prev
                            <svg width="11" height="20" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.681372 9.52449L10.0406 0.165273C10.261 -0.055091 10.6144 -0.0550909 10.8347 0.165273C11.0551 0.385636 11.0551 0.73905 10.8347 0.959413L1.87466 9.91948L10.8347 18.8796C11.0551 19.0999 11.0551 19.4533 10.8347 19.6737C10.7266 19.7818 10.5811 19.84 10.4397 19.84C10.2984 19.84 10.1528 19.786 10.0447 19.6737L0.685528 10.3145C0.465164 10.0983 0.465166 9.7407 0.681372 9.52449Z" fill="white"/>
                            </svg>
                        .swiper-button-next
                            <svg width="11" height="20" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.3186 10.4755L0.959413 19.8347C0.739049 20.0551 0.385636 20.0551 0.165273 19.8347C-0.0550909 19.6144 -0.0550909 19.261 0.165273 19.0406L9.12534 10.0805L0.165273 1.12045C-0.0550909 0.900085 -0.0550909 0.546673 0.165273 0.326309C0.273376 0.218206 0.418899 0.159998 0.560264 0.159998C0.701629 0.159998 0.847153 0.214048 0.955256 0.326309L10.3145 9.68553C10.5348 9.90173 10.5348 10.2593 10.3186 10.4755Z" fill="white"/>
                            </svg>
                    .item-progress__text-inner
                        .item-progress__text.item-progress__text--first
                            p Объект: <span>Стальная дверь, город Москва, улица Кульнева</span>
                        .item-progress__text
                            p Профиль: <span>Дверь Schueco Jansen, заполнение: 6–16Ar–(4+4)ТопН+</span>
            .p-progress__col
                .p-progress__item.item-progress
                    .p-progress__swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                .item-progress__img
                                    img(src="./assets/img/progress/progress-6.jpg" alt="")
                            .swiper-slide
                                .item-progress__img
                                    img(src="./assets/img/progress/progress-6.jpg" alt="")
                        // Navigation
                        .swiper-button-prev
                            <svg width="11" height="20" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.681372 9.52449L10.0406 0.165273C10.261 -0.055091 10.6144 -0.0550909 10.8347 0.165273C11.0551 0.385636 11.0551 0.73905 10.8347 0.959413L1.87466 9.91948L10.8347 18.8796C11.0551 19.0999 11.0551 19.4533 10.8347 19.6737C10.7266 19.7818 10.5811 19.84 10.4397 19.84C10.2984 19.84 10.1528 19.786 10.0447 19.6737L0.685528 10.3145C0.465164 10.0983 0.465166 9.7407 0.681372 9.52449Z" fill="white"/>
                            </svg>
                        .swiper-button-next
                            <svg width="11" height="20" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.3186 10.4755L0.959413 19.8347C0.739049 20.0551 0.385636 20.0551 0.165273 19.8347C-0.0550909 19.6144 -0.0550909 19.261 0.165273 19.0406L9.12534 10.0805L0.165273 1.12045C-0.0550909 0.900085 -0.0550909 0.546673 0.165273 0.326309C0.273376 0.218206 0.418899 0.159998 0.560264 0.159998C0.701629 0.159998 0.847153 0.214048 0.955256 0.326309L10.3145 9.68553C10.5348 9.90173 10.5348 10.2593 10.3186 10.4755Z" fill="white"/>
                            </svg>
                    .item-progress__text-inner
                        .item-progress__text.item-progress__text--first
                            p Объект: <span>«Большевик»</span>
                        .item-progress__text
                            p Профиль: <span>Двери противопожарные Schueco Jansen, заполнение: Pyrobel 17N</span>

