section.p-contacts
    .container
        .bread-crumbs
            ul.bread-crumbs__list
                li.bread-crumbs__item
                    a.bread-crumbs__link(href='./index.html') Главная
                li.bread-crumbs__item / 
                li.bread-crumbs__item Контакты
        h2.base-title Контакты
        .s-contacts__body
            .s-contacts__text
                .address
                    p Офис:
                    | Москва, Полесский проезд 16, офис 203
                    br
                    br
                    p Производство:
                    | Большие Веземы, улица Ямская, городок 17, владение 9
                a.tel(href="tel:+74995570474") +7 (499) 557-04-74
                a.mail(href="mailto:Feedback@vigpoint.com") Feedback@vigpoint.com
                form.modal__form(action="#" method="get")
                    p.modal__form-title Остались вопросы? Свяжитесь с нами!
                    p
                        input(type="text" name="name" placeholder='Ваше имя')
                    p
                        input(type="tel" name="tel" placeholder='Ваш телефон' required)
                    button.base-button.modal__button(type="submit") Отправить
                p.modal__text Нажимая на кнопку, вы даете согласие на обработку <a href="#">персональных данных</a>

            .s-contacts__map
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Afc273f18da3a3278240fc9ccca1b62d474e68a1fb5b1a6f9c0027ef0c2b4ec4b&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>
        