section.p-contacts
    .container
        .bread-crumbs
            ul.bread-crumbs__list
                li.bread-crumbs__item
                    a.bread-crumbs__link(href='./index.html') Главная
                li.bread-crumbs__item / 
                li.bread-crumbs__item Контакты
        h2.base-title Контакты