/* HELPERS */

/* VENDORS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  vertical-align: top;
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

/*
 *  Owl Carousel - Core
 */

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */

.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */

.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */

.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */

.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item .owl-lazy[src^=""],
.owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 100ms ease;
  transition: -webkit-transform 100ms ease;
  -o-transition: transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3, 1.3);
      -ms-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/*
 * 	Default theme - Owl Carousel CSS File
 */

.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none;
}

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}

/* BASE */

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-LightItalic.woff") format("woff"), url("../fonts/Gilroy-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

/* TYPOGRAPHY */

body {
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

a {
  color: #333333;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

a:hover {
  color: #0756bb;
}

.base-title {
  position: relative;
  margin-bottom: 60px;
  padding-bottom: 15px;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #1b1716;
}

.base-title::after {
  content: "";
  position: absolute;
  right: 50%;
  bottom: 0;
  width: 170px;
  height: 5px;
  background: #0756bb;
  background: -webkit-gradient(linear, left top, right top, from(#05387a), to(#0756bb));
  background: -o-linear-gradient(left, #05387a 0%, #0756bb 100%);
  background: linear-gradient(90deg, #05387a 0%, #0756bb 100%);
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}

/* GENERAL */

.main-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo__img {
  width: inherit;
}

.address {
  position: relative;
  padding-left: 30px;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.address::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 18px;
  height: 25px;
  background: url("../img/svg/map-badge.svg") center no-repeat;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.tel {
  position: relative;
  padding-left: 30px;
  font-weight: 500;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.tel::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/svg/tel.svg") center no-repeat;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.mail {
  position: relative;
  padding-left: 30px;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.mail::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 22px;
  height: 16px;
  background: url("../img/svg/mail.svg") center no-repeat;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.base-button {
  display: block;
  padding: 12px 18px;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  background-color: #0756bb;
  border: 1px solid #0756bb;
  border-radius: 2px;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.base-button:hover {
  color: #0756bb;
  background-color: #ffffff;
}

.base-list {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  color: #1b1716;
}

.base-list__item {
  position: relative;
  margin-bottom: 13px;
  padding-left: 30px;
}

.base-list__item:last-child {
  margin-bottom: 0;
}

.base-list__item::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: #0756bb;
}

.slider-for {
  height: 360px;
  margin-bottom: 40px;
}

.slider__item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.slider-nav .slider__item {
  cursor: pointer;
}

.slider-nav .slider__item img {
  max-width: 180px;
  height: 144px;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  background: none;
}

.owl-theme .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.owl-theme .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.owl-carousel .owl-stage-outer {
  padding: 0 5px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #0756bb;
}

/* MODULES */

.header {
  padding: 25px 0;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.header__inner,
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  width: 136px;
}

.header__body {
  padding: 0 15px;
}

.header__top {
  padding-bottom: 14px;
  font-weight: 500;
  font-size: 16px;
  color: #1b1716;
  border-bottom: 1px solid #ececec;
}

.main-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 13px;
}

.main-menu__item {
  margin-right: 20px;
}

.main-menu__item:last-child {
  margin-right: 0;
}

.main-menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.s-hero {
  background-color: #1b1716;
}

.s-hero__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1545px;
  height: 580px;
  margin-left: auto;
}

.s-hero__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 545px;
  padding: 54px 90px 54px 0px;
  border: 1px solid #fff;
}

.s-hero__title {
  font-weight: bold;
  font-size: 42px;
  line-height: 51px;
  color: #ffffff;
}

.s-hero__button {
  width: 100%;
  max-width: 370px;
}

.s-hero__img {
  width: 1000px;
}

.s-hero .base-list {
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.s-hero .base-list__item::before {
  top: 50%;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #0756bb;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.s-advantages {
  padding: 120px 0 90px 0;
}

.s-advantages__title {
  margin-bottom: 60px;
}

.s-advantages__card-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.base-card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(25% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 270px;
  margin-bottom: 30px;
  padding: 22px 28px;
  text-align: center;
  border-bottom: 8px solid #2a2554;
  border-radius: 2px;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.base-card__icon {
  width: 42px;
  margin-right: auto;
  margin-bottom: 15px;
  margin-left: auto;
  padding-bottom: 10px;
  border-bottom: 2px solid #0756bb;
}

.base-card__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 600;
  font-size: 18px;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  color: #1b1716;
}

.base-card__descr {
  font-weight: 500;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.s-portfolio {
  position: relative;
  padding: 120px 0 80px 0;
}

.s-portfolio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/bg-portfolio.jpg") center no-repeat;
  background-size: cover;
  -webkit-filter: opacity(8%);
          filter: opacity(8%);
}

.s-portfolio__title {
  margin-bottom: 60px;
}

.s-portfolio__card-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.portfolio-card {
  position: relative;
  z-index: 10;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.33333% - 30px);
  margin-bottom: 30px;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.portfolio-card:hover .portfolio-card__descr {
  left: 0;
}

.portfolio-card__img {
  position: relative;
}

.portfolio-card__img img {
  display: block;
  width: 100%;
}

.portfolio-card__img figcaption {
  position: absolute;
  top: 50%;
  width: 100%;
  padding: 15px;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  background-color: #0756bb;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.portfolio-card__descr {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  padding: 55px 30px;
  opacity: 0.95;
  text-align: center;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#0756bb), to(#05387a));
  background: -o-linear-gradient(top, #0756bb 0%, #05387a 100%);
  background: linear-gradient(180deg, #0756bb 0%, #05387a 100%);
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.portfolio-card__title {
  display: inline-block;
  margin-bottom: 20px;
  padding-bottom: 5px;
  font-weight: 600;
  font-size: 18px;
  border-bottom: 1px solid #ffffff;
}

.portfolio-card__text {
  margin-bottom: 50px;
}

.portfolio-card__link {
  position: relative;
  font-weight: 500;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

.portfolio-card__link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -35px;
  width: 25px;
  height: 20px;
  background: url("../img/svg/link-arrow.svg") center no-repeat;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.portfolio-card__link:hover {
  color: #ffffff;
}

.portfolio-card__link:hover::after {
  right: -45px;
  color: #ffffff;
}

.s-working-way {
  padding: 120px 0 70px 0;
}

.s-working-way__card-row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.s-working-way__card-row--center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.s-working-way__card-row--center .base-card {
  margin-right: 34px;
}

.s-working-way__card-row--center .base-card:last-child {
  margin-right: 0;
}

.s-working-way .base-card {
  position: relative;
  width: 255px;
  overflow: hidden;
}

.s-working-way .base-card__bg {
  position: absolute;
  top: 120px;
  left: -42px;
  font-weight: 600;
  font-size: 400px;
  text-shadow: 0px 57px 286px rgba(0, 0, 0, 0.1);
  color: rgba(231, 231, 231, 0.5);
}

.s-working-way .base-card::after {
  content: "";
  position: absolute;
  top: calc(50% - 16px);
  right: -43px;
  width: 0;
  height: 0;
  border-top: 22px solid transparent;
  border-left: 32px solid #05387a;
  border-bottom: 22px solid transparent;
}

.s-working-way .base-card--no-after::after {
  content: "";
  display: none;
}

.s-working-way .base-card__icon {
  z-index: 10;
  padding-top: 15px;
  padding-bottom: 20px;
  font-weight: 800;
  font-size: 55px;
  color: transparent;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(23.88%, #0756bb), color-stop(94.78%, #05387a));
  background: -o-linear-gradient(top, #0756bb 23.88%, #05387a 94.78%);
  background: linear-gradient(180deg, #0756bb 23.88%, #05387a 94.78%);
  -webkit-background-clip: text;
          background-clip: text;
}

.s-working-way .base-card__title {
  z-index: 10;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  margin-bottom: 20px;
}

.s-working-way .base-card__descr {
  z-index: 10;
}

.s-brands {
  position: relative;
  padding: 120px 0 90px 0;
}

.s-brands::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/bg-brands.jpg") center no-repeat;
  background-size: cover;
  -webkit-filter: opacity(8%);
          filter: opacity(8%);
}

.s-brands__title {
  margin-bottom: 60px;
}

.s-brands__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.s-brands__img {
  margin: 30px 15px;
}

.s-mounter {
  padding: 120px 0;
}

.s-mounter__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.s-mounter__col {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
}

.s-mounter__text {
  font-size: 18px;
  line-height: 21px;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  color: #1b1716;
}

.s-mounter__text > p {
  margin-bottom: 20px;
}

.s-mounter__small-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  color: #1b1716;
}

.s-clients {
  position: relative;
  padding: 120px 0 120px 0;
}

.s-clients::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/bg-clients.jpg") center no-repeat;
  background-size: cover;
}

.s-clients::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(7, 86, 187, 0.4);
}

.s-clients__wrapper {
  position: relative;
  z-index: 10;
}

.s-clients__row {
  position: relative;
  padding: 0 45px;
}

.s-clients__title {
  color: #fff;
}

.s-clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 205px;
  background: #ffffff;
  border-radius: 2px;
  -webkit-box-shadow: 0px 2.4623px 12.3115px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2.4623px 12.3115px rgba(0, 0, 0, 0.1);
}

.s-clients__item img {
  width: auto !important;
}

.s-partners {
  position: relative;
  padding: 120px 0 120px 0;
}

.s-partners__row {
  position: relative;
  padding: 0 45px;
}

.s-partners__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 156px;
  margin: 5px 0;
  background: #ffffff;
  border-radius: 2px;
  -webkit-box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.1);
}

.s-partners__item img {
  width: auto !important;
}

.s-video {
  position: relative;
  padding: 120px 0;
}

.s-video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/bg-video.jpg") center no-repeat;
  background-size: cover;
  -webkit-filter: opacity(8%);
          filter: opacity(8%);
}

.s-video__title {
  margin-bottom: 60px;
}

.s-video__row {
  max-width: 970px;
  margin: 0 auto;
}

.s-objects {
  padding: 120px 0 80px 0;
}

.s-reviews {
  position: relative;
  padding: 120px 0;
}

.s-reviews::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/bg-reviews.jpg") center no-repeat;
  background-size: cover;
  -webkit-filter: opacity(8%);
          filter: opacity(8%);
}

.s-reviews__item {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 970px;
  margin: 10px auto;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.s-reviews__img {
  max-width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.s-reviews__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
}

.s-reviews__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #1b1716;
}

.s-reviews__author {
  margin-bottom: 6px;
  font-weight: 600;
  color: #bdbdbd;
}

.s-reviews__work {
  font-weight: 500;
  color: #bdbdbd;
}

.s-reviews .quote--blue {
  padding-top: 30px;
  font-weight: 500;
  font-size: 73px;
  color: #0756bb;
}

.s-certificates {
  position: relative;
  padding: 120px 0 120px 0;
}

.s-certificates__row {
  position: relative;
  padding: 0 45px;
}

.s-certificates__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 322px;
  margin: 5px 0;
  background: #ffffff;
  border-radius: 2px;
  -webkit-box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.1);
}

.s-certificates__item img {
  width: 226px !important;
  height: 322px;
}

.s-contacts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1545px;
  height: 368px;
  margin-left: auto;
  -webkit-box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.1);
}

.s-contacts__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 545px;
  height: 100%;
  padding: 52px 55px;
  font-weight: 500;
  font-size: 18px;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  color: #1b1716;
}

.s-contacts__map {
  width: 1000px;
}

.s-contacts .address::before {
  top: 17px;
}

.s-contacts .address p {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 18px;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  color: #1b1716;
}

.footer {
  padding: 37px 0px 16px 0px;
  color: #ffffff;
  background-color: #1b1716;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.footer__menu .main-menu__link {
  font-size: 16px;
  color: #ffffff;
}

.footer__menu .main-menu__link:hover {
  color: #0756BB;
}

.footer__copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__text {
  font-weight: 500;
  font-size: 14px;
  color: #4f4f4f;
}

.footer__text a {
  color: #0756bb;
}

.footer__text a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1200px) {
  .base-card {
    width: calc(33.33333% - 30px);
  }
}

@media screen and (max-width: 768px) {
  .base-card {
    width: calc(50% - 30px);
  }

  .portfolio-card {
    width: calc(50% - 30px);
  }

  .s-mounter__col {
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 576px) {
  .base-card {
    width: calc(100% - 30px);
  }

  .portfolio-card {
    width: calc(100% - 30px);
  }
}