/* HELPERS */

/* VENDORS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  vertical-align: top;
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

/* BASE */

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-LightItalic.woff") format("woff"), url("../fonts/Gilroy-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

/* TYPOGRAPHY */

body {
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

a {
  color: #333333;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

a:hover {
  color: #0756bb;
}

.base-title {
  position: relative;
  padding-bottom: 15px;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #1b1716;
}

.base-title::after {
  content: "";
  position: absolute;
  right: 50%;
  bottom: 0;
  width: 170px;
  height: 5px;
  background: #0756bb;
  background: -webkit-gradient(linear, left top, right top, from(#05387a), to(#0756bb));
  background: -o-linear-gradient(left, #05387a 0%, #0756bb 100%);
  background: linear-gradient(90deg, #05387a 0%, #0756bb 100%);
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}

/* GENERAL */

.main-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo__img {
  width: inherit;
}

.base-button {
  display: block;
  padding: 12px 18px;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  background-color: #0756bb;
  border: 1px solid #0756bb;
  border-radius: 2px;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.base-button:hover {
  color: #0756bb;
  background-color: #ffffff;
}

/* MODULES */

.header {
  padding: 25px 0;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.header__inner,
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  width: 136px;
}

.header__body {
  padding: 0 15px;
}

.header__top {
  padding-bottom: 14px;
  font-weight: 500;
  font-size: 16px;
  color: #1b1716;
  border-bottom: 1px solid #ececec;
}

.header__adress {
  position: relative;
  padding-left: 30px;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.header__adress::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 18px;
  height: 25px;
  background: url("../img/svg/map-badge.svg") center no-repeat;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__tel {
  position: relative;
  padding-left: 30px;
  font-weight: 500;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.header__tel::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/svg/tel.svg") center no-repeat;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__mail {
  position: relative;
  padding-left: 30px;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.header__mail::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 22px;
  height: 16px;
  background: url("../img/svg/mail.svg") center no-repeat;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 13px;
}

.main-menu__item {
  margin-right: 20px;
}

.main-menu__item:last-child {
  margin-right: 0;
}

.main-menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.s-advantages {
  padding: 120px 0 90px 0;
}

.s-advantages__title {
  margin-bottom: 60px;
}

.s-advantages__card-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.base-card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(25% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 270px;
  margin-bottom: 30px;
  padding: 22px 28px;
  text-align: center;
  border-bottom: 8px solid #2a2554;
  border-radius: 2px;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.base-card__icon {
  width: 42px;
  margin-right: auto;
  margin-bottom: 15px;
  margin-left: auto;
  padding-bottom: 10px;
  border-bottom: 2px solid #0756bb;
}

.base-card__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 600;
  font-size: 18px;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  color: #1b1716;
}

.base-card__descr {
  font-weight: 500;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.footer {
  padding: 37px 0px 16px 0px;
  color: #ffffff;
  background-color: #1b1716;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.footer__menu .main-menu__link {
  font-size: 16px;
  color: #ffffff;
}

.footer__menu .main-menu__link:hover {
  color: #0756BB;
}

.footer__copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__text {
  font-weight: 500;
  font-size: 14px;
  color: #4f4f4f;
}

.footer__text a {
  color: #0756bb;
}

.footer__text a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1200px) {
  .base-card {
    width: calc(33.33333% - 30px);
  }
}

@media screen and (max-width: 768px) {
  .base-card {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 576px) {
  .base-card {
    width: calc(100% - 30px);
  }
}