section.s-partners
    .container
        h2.base-title Наши партнеры
        .s-partners__row.owl-carousel.owl-theme.owl-carousel__s-partners
            .s-partners__item
                img(src="./assets/img/brands/partner-brand-1.png" alt="")
            .s-partners__item
                img(src="./assets/img/brands/partner-brand-2.png" alt="")
            .s-partners__item
                img(src="./assets/img/brands/partner-brand-3.png" alt="")
            .s-partners__item
                img(src="./assets/img/brands/partner-brand-4.png" alt="")
            .s-partners__item
                img(src="./assets/img/brands/partner-brand-2.png" alt="")
