section.s-hero
    .s-hero__container
        .s-hero__swiper-container
            .swiper-wrapper
                .swiper-slide
                    .s-hero__item
                        .s-hero__text
                            h1.s-hero__title Разработка алюминиевых окон, дверей, конструкций
                            ul.base-list
                                li.base-list__item Качественные алюминиевые конструкции за 7 дней
                                li.base-list__item Тепло и уют вашего дома
                                li.base-list__item Бесплатный выезд замерщика-специалиста уже сегодня
                                li.base-list__item Монтаж за 1 день
                            button.base-button.s-hero__button Оставить заявку
                        .s-hero__img
                            img(src="./assets/img/hero-slider.jpg" alt="")

                .swiper-slide
                    .s-hero__item
                        .s-hero__text
                            h1.s-hero__title Разработка алюминиевых окон, дверей, конструкций
                            ul.base-list
                                li.base-list__item Качественные алюминиевые конструкции за 7 дней
                                li.base-list__item Тепло и уют вашего дома
                                li.base-list__item Бесплатный выезд замерщика-специалиста уже сегодня
                                li.base-list__item Монтаж за 1 день
                            button.base-button.s-hero__button Оставить заявку
                        .s-hero__img
                            img(src="./assets/img/hero-slider.jpg" alt="")
