header.header
    .container
        .header__inner
            a.logo.header__logo(href="#")
                img.logo__img(src="./assets/img/logo-color.png" alt="Vigpoint")
            .header__body
                .header__top
                    .address Москва, Полесский проезд 16, офис 203
                    a.tel(href="") +7 (499) 557-04-74
                    a.mail(href="") Vigpoint@gmail.com
                nav.main-menu.header__menu
                    ul.main-menu__list
                        li.main-menu__item
                            a.main-menu__link(href="index.html") Главная
                        li.main-menu__item
                            a.main-menu__link(href="about.html") О компании
                        li.main-menu__item
                            a.main-menu__link(href="production.html") Производство
                        li.main-menu__item
                            a.main-menu__link(href="#") Профильные системы
                        li.main-menu__item
                            a.main-menu__link(href="#") Монтажные подразделения
                        li.main-menu__item
                            a.main-menu__link(href="#") Достижения
                        li.main-menu__item
                            a.main-menu__link(href="#") Контакты

            button.base-button.header__button Оставить заявку