header.header
    .container
        .header__inner
            a.logo.header__logo(href="index.html")
                img.logo__img(src="./assets/img/logo-color.png" alt="Vigpoint")
            .header__body
                .header__top
                    .address Москва, Полесский проезд 16, офис 203
                    a.tel(href="") +7 (499) 557-04-74
                    a.mail(href="") Vigpoint@gmail.com
                nav.main-menu.header__menu
                    ul.main-menu__list
                        li.main-menu__item
                            a.main-menu__link(href="index.html") Главная
                        li.main-menu__item
                            a.main-menu__link(href="about.html") О компании
                        li.main-menu__item
                            a.main-menu__link(href="production.html") Производство
                        li.main-menu__item
                            a.main-menu__link(href="brands.html") Профильные системы
                        li.main-menu__item
                            a.main-menu__link(href="mounter.html") Монтажные подразделения
                        li.main-menu__item
                            a.main-menu__link(href="progress.html") Достижения
                        li.main-menu__item
                            a.main-menu__link(href="contacts.html") Контакты

            button.base-button.header__button Оставить заявку

            .burger-menu-icon
                span

nav.main-menu.footer__menu.burger-menu
    .modal__close.burger-menu-modal__close
    ul.main-menu__list
        li.main-menu__item
            a.main-menu__link(href="index.html") Главная
        li.main-menu__item
            a.main-menu__link(href="about.html") О компании
        li.main-menu__item
            a.main-menu__link(href="production.html") Производство
        li.main-menu__item
            a.main-menu__link(href="brands.html") Профильные системы
        li.main-menu__item
            a.main-menu__link(href="mounter.html") Монтажные подразделения
        li.main-menu__item
            a.main-menu__link(href="progress.html") Достижения
        li.main-menu__item
            a.main-menu__link(href="contacts.html") Контакты

    .burger-menu__contacts
        p.address Москва, Полесский проезд 16, офис 203
        a.tel(href="tel:+74995570474") +7 (499) 557-04-74
        a.mail(href="mailto:Feedback@vigpoint.com") Feedback@vigpoint.com