section.s-working-way
    .container
        h2.base-title Как мы работаем
        .s-working-way__card-row
            .base-card
                .base-card__bg 1
                .base-card__icon 1
                h3.base-card__title Оставить заявку
                p.base-card__descr Вы оставляете только заявку, все остальное-наша забота
            .base-card
                .base-card__bg 2
                .base-card__icon 2
                h3.base-card__title Бесплатный выезд специалиста
                p.base-card__descr Наш специалист приедет к вам, где бы вы не находились
            .base-card
                .base-card__bg 3
                .base-card__icon 3
                h3.base-card__title Расчет стоимости
                p.base-card__descr Рассчитаем полную стоимость всех работ. У нас все прозрачно
            .base-card.base-card--no-after
                .base-card__bg 4
                .base-card__icon 4
                h3.base-card__title Подписание договора
                p.base-card__descr Подписываем договор и начинаем работу
            .base-card
                .base-card__bg 5
                .base-card__icon 5
                h3.base-card__title Изготовление
                p.base-card__descr Мы изготовливаем ваш заказ в максимально короткие сроки. Без задержек
            .base-card
                .base-card__bg 6
                .base-card__icon 6
                h3.base-card__title Монтаж
                p.base-card__descr Наши специалисты производят монтаж всех конструкций на ваш объект
            .base-card.base-card--no-after
                .base-card__bg 7
                .base-card__icon 7
                h3.base-card__title Довольный клиент
                p.base-card__descr Самое главное для нас - довольный клиент
            