.s-working-way {
    padding: 120px 0 70px 0;

    @include md-block() {
        padding-top: 50px;
    }

    &__card-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        &--center {
            justify-content: center;
            .base-card {
                margin-right: 34px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }

        @include md-block() {
            display: -webkit-box;
            flex-wrap: nowrap;
            overflow-x: scroll;
        }
    }

    .base-card {
        position: relative;
        overflow: hidden;

        &__bg {
            position: absolute;
            top: 120px;
            left: -42px;

            font-weight: 600;
            font-size: 400px;

            text-shadow: 0px 57px 286px rgba(0, 0, 0, 0.1);
            color: rgba(231, 231, 231, 0.5);
        }

        &::after {
            content: "";
            position: absolute;
            top: calc(50% - 16px);
            right: -43px;

            width: 0;
            height: 0;
            border-top: 22px solid transparent;
            border-left: 32px solid #05387a;
            border-bottom: 22px solid transparent;
        }

        &--no-after {
            &::after {
                content: "";
                display: none;
            }
        }

        &__icon {
            z-index: 10;
            padding-top: 15px;
            padding-bottom: 20px;
            font-weight: 800;
            font-size: 55px;
            color: transparent;
            background: linear-gradient(180deg, #0756bb 23.88%, #05387a 94.78%);
            background-clip: text;
        }

        &__title {
            z-index: 10;

            flex: none;
            margin-bottom: 20px;
        }

        &__descr {
            z-index: 10;
        }
    }
}
