.p-mounter {
    padding-top: 50px;
    padding-bottom: 120px;

    @include md-block() {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .page-text {
        max-width: 850px;
        margin: 0 auto;
        margin-bottom: 60px;
    }

    &__img {
        display: block;
        width: 100%;
        max-width: 1170px;
        height: 361px;
        margin-bottom: 30px;
        object-fit: cover;
        border-radius: 2px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
