section.s-certificates
    .container
        h2.base-title Наши сертификаты
        .s-certificates__row.owl-carousel.owl-theme.owl-carousel__s-partners
            .s-certificates__item
                img(src="./assets/img/certificates/certificate-1.jpg" alt="")
            .s-certificates__item
                img(src="./assets/img/certificates/certificate-2.jpg" alt="")
            .s-certificates__item
                img(src="./assets/img/certificates/certificate-3.jpg" alt="")
            .s-certificates__item
                img(src="./assets/img/certificates/certificate-4.jpg" alt="")
            .s-certificates__item
                img(src="./assets/img/certificates/certificate-3.jpg" alt="")
